@import-normalize;

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  background-color: rgb(22, 22, 22);
  color: whitesmoke;
}

* {
  padding: 0.25rem;
}

hr {
  padding: 0;
  margin: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

ol {
  text-align: center;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

ol li {
  margin: 1rem 0;
}

a {
  color: whitesmoke;
}

button {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 0.25rem;
  border: none;
  border-radius: 2rem;
}
